body{
background-color:#D5E1EF;}

.container{background-color: #FFFFFF;
width: 320px;
height: 498px;
background: #FFFFFF;
box-shadow: 7px 7px 70px 0px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin:10% 35% 10% 35%;
}
img{width: 289px;
    height: 291px;
    margin:15px 15px 0px 15px;
    border-radius: 10px;}
h1{font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 30px 35px 0px 35px;
    font-family: 'Outfit', sans-serif;
    }
p{font-family: Outfit;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #A0A4AD;
    margin:14px 35px 36px 35px ;
    font-family: 'Outfit', sans-serif;
    }